In [1]:
from utils import *

In [2]:
datap = "/home/zach/Data/fma_medium/fma_meta/"

In [4]:
genres = load(datap+'genres.csv')

In [5]:
genres

          #tracks  parent          title  top_level
genre_id
1            8693      38    Avant-Garde         38
2            5271       0  International          2
3            1752       0          Blues          3
4            4126       0           Jazz          4
5            4106       0      Classical          5
...           ...     ...            ...        ...
1032           60     102        Turkish          2
1060           30      46          Tango          2
1156           26     130           Fado          2
1193           72     763      Christmas         38
1235        14938       0   Instrumental       1235

[163 rows x 4 columns]

In [ ]:
genres["tl_name"] = genres.apply

In [10]:
genres.index

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
             763,  808,  810,  811,  906, 1032, 1060, 1156, 1193, 1235],
           dtype='int64', name='genre_id', length=163)

In [38]:
tljs = [genres[genres.index == genres.iloc[rid].top_level][["title", "top_level"]].iloc[0] for rid in range(genres.shape[0])]

In [39]:
tljs[0]

title        Experimental
top_level              38
Name: 38, dtype: object

In [40]:
tljs[0]

title        Experimental
top_level              38
Name: 38, dtype: object

In [41]:
dict(tljs)

{'Experimental': 38,
 'International': 2,
 'Blues': 3,
 'Jazz': 4,
 'Classical': 5,
 'Spoken': 20,
 'Old-Time / Historic': 8,
 'Country': 9,
 'Pop': 10,
 'Soul-RnB': 14,
 'Rock': 12,
 'Easy Listening': 13,
 'Electronic': 15,
 'Folk': 17,
 'Instrumental': 1235,
 'Hip-Hop': 21}

In [42]:
tlgs = {v: k for k, v in dict(tljs).items()}

In [43]:
tlgs

{38: 'Experimental',
 2: 'International',
 3: 'Blues',
 4: 'Jazz',
 5: 'Classical',
 20: 'Spoken',
 8: 'Old-Time / Historic',
 9: 'Country',
 10: 'Pop',
 14: 'Soul-RnB',
 12: 'Rock',
 13: 'Easy Listening',
 15: 'Electronic',
 17: 'Folk',
 1235: 'Instrumental',
 21: 'Hip-Hop'}

In [44]:
genres["top_name"] = genres.top_level.apply(lambda x: tlgs[x])

In [45]:
genres

          #tracks  parent          title  top_level       top_name
genre_id
1            8693      38    Avant-Garde         38   Experimental
2            5271       0  International          2  International
3            1752       0          Blues          3          Blues
4            4126       0           Jazz          4           Jazz
5            4106       0      Classical          5      Classical
...           ...     ...            ...        ...            ...
1032           60     102        Turkish          2  International
1060           30      46          Tango          2  International
1156           26     130           Fado          2  International
1193           72     763      Christmas         38   Experimental
1235        14938       0   Instrumental       1235   Instrumental

[163 rows x 5 columns]

In [46]:
genres.to_csv("../../genres_better.csv")

In [53]:
import json
from tqdm.auto import tqdm

genre_to_top = {}
for i,r in tqdm(genres.iterrows()):
    genre_to_top[r.title] = r.top_name
    
with open('../../genre_to_top.json', 'w+') as f:
    json.dump(genre_to_top, f)

HBox(children=(FloatProgress(value=1.0, bar_style='info', max=1.0), HTML(value='')))

In [50]:
for i in tqdm(range(10))

SyntaxError: invalid syntax (<ipython-input-50-def14b3a47a5>, line 1)